# ~/.ssh/config
Include ~/.ssh/config.d/*.conf
Include config.local

{{ if eq .profile "linux-desktop" }}
Host *
	IdentityAgent ~/.1password/agent.sock
{{ end }}

{{ if eq .profile "wsl" }}
Host dev-sin
  HostName dev-sin.i.nokiy.net
  User reonokiy
  ForwardAgent yes
  IdentitiesOnly no
{{ end }}
