# starship
if (Get-Command starship -ErrorAction SilentlyContinue) {
    Invoke-Expression (&starship init powershell)
}

# micromamba
if (Get-Command micromamba -ErrorAction SilentlyContinue) {
    $Env:MAMBA_ROOT_PREFIX = "{{ .chezmoi.homeDir }}/.micromamba"
    $Env:MAMBA_EXE = "{{ .chezmoi.homeDir }}/AppData/Local/micromamba/micromamba.exe"
    (& $Env:MAMBA_EXE 'shell' 'hook' -s 'powershell' -p $Env:MAMBA_ROOT_PREFIX) | Out-String | Invoke-Expression
}

# zoxide
if (Get-Command zoxide -ErrorAction SilentlyContinue) {
    Invoke-Expression (& { (zoxide init powershell | Out-String) })
} 

# yazi 
function ya {
    $tmp = [System.IO.Path]::GetTempFileName()
    yazi $args --cwd-file="$tmp"
    $cwd = Get-Content -Path $tmp
    if (-not [String]::IsNullOrEmpty($cwd) -and $cwd -ne $PWD.Path) {
        Set-Location -Path $cwd
    }
    Remove-Item -Path $tmSp
}


# alias

## eza -> ls
if (Get-Command eza -ErrorAction SilentlyContinue) {
    Set-Alias -Name ls -Value eza
}

Set-Alias -Name mm -Value micromamba
Set-Alias -Name dotfiles -Value chezmoi
