[gpg]
  format = ssh
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
[commit]
  gpgsign = true
[user]
    signingkey = {{ .git.default.publicKey }}
    name = {{ .git.default.name }}
    email = {{ .git.default.email }}
[credential]
    helper = cache --timeout 21600
    helper = oauth
[hub]
    protocol = ssh

