[gpg]
    format = ssh
[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"
[commit]
    gpgsign = true
[user]
    signingkey = {{ .git.default.publicKey }}
    name = {{ .git.default.name }}
    email = {{ .git.default.email }}
[credential]
    helper = cache --timeout 604800
    helper = oauth
[hub]
    protocol = ssh
[http]
    postBuffer = 624288000
[lfs]
    concurrenttransfers = 10
    activitytimeout = 3600
    dialtimeout = 3600
    keepalive = 3600
    tlstimeout = 3600
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

