[gpg]
    format = ssh
[gpg "ssh"]
    program = /mnt/c/Users/{{- (output "powershell.exe" "$env:UserName") | trim -}}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe
[commit]
    gpgsign = true
[user]
    signingkey = {{ .git.default.publicKey }}
    name = {{ .git.default.name }}
    email = {{ .git.default.email }}
[core]
    sshCommand = ssh.exe
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[credential]
    helper = cache --timeout 604800
    helper = oauth
